# DataAPI

In [1]:
from fxdayu_data import DataAPI

ImportError: No module named fxdayu_data

In [3]:
from datetime import datetime

## DataAPI.candle()
## 股票K线数据

### 获取一只股票("000001.XSHE")在一段时间(start, end)的日线(freq="D")数据

In [5]:
DataAPI.candle("000001.XSHE", freq='D', start=datetime(2016, 1, 1), end=datetime(2016, 1, 31))

                     close   high    low   open    volume
datetime
2016-01-04 15:00:00  9.276  9.875  9.219  9.851  563497.0
2016-01-05 15:00:00  9.358  9.498  9.153  9.252  663269.0
2016-01-06 15:00:00  9.465  9.490  9.350  9.375  515706.0
2016-01-07 15:00:00  8.981  9.367  8.956  9.367  174761.0
2016-01-08 15:00:00  9.128  9.268  8.948  9.202  747527.0
2016-01-11 15:00:00  8.833  9.096  8.767  9.030  732013.0
2016-01-12 15:00:00  8.874  8.956  8.734  8.890  561642.0
2016-01-13 15:00:00  8.792  8.981  8.784  8.940  391709.0
2016-01-14 15:00:00  8.841  8.866  8.603  8.693  666314.0
2016-01-15 15:00:00  8.587  8.866  8.554  8.751  448202.0
2016-01-18 15:00:00  8.546  8.669  8.455  8.488  421040.0
2016-01-19 15:00:00  8.792  8.849  8.546  8.578  501109.0
2016-01-20 15:00:00  8.652  8.866  8.570  8.784  603752.0
2016-01-21 15:00:00  8.472  8.825  8.472  8.603  606145.0
2016-01-22 15:00:00  8.537  8.578  8.390  8.537  466752.0
2016-01-25 15:00:00  8.513  8.570  8.480  8.537  376431.0
2016-01-26 15:00:00  8.102  8.472  8.094  8.472  647901.0
2016-01-27 15:00:00  8.111  8.193  7.881  8.152  569037.0
2016-01-28 15:00:00  7.955  8.119  7.922  8.061  302540.0
2016-01-29 15:00:00  8.209  8.275  7.955  7.996  544435.0

### 获取指定长度的数据(length)

In [6]:
DataAPI.candle("000001.XSHE", 'D', start=datetime(2016, 1, 1), length=10)

                     close   high    low   open    volume
datetime
2016-01-04 15:00:00  9.276  9.875  9.219  9.851  563497.0
2016-01-05 15:00:00  9.358  9.498  9.153  9.252  663269.0
2016-01-06 15:00:00  9.465  9.490  9.350  9.375  515706.0
2016-01-07 15:00:00  8.981  9.367  8.956  9.367  174761.0
2016-01-08 15:00:00  9.128  9.268  8.948  9.202  747527.0
2016-01-11 15:00:00  8.833  9.096  8.767  9.030  732013.0
2016-01-12 15:00:00  8.874  8.956  8.734  8.890  561642.0
2016-01-13 15:00:00  8.792  8.981  8.784  8.940  391709.0
2016-01-14 15:00:00  8.841  8.866  8.603  8.693  666314.0
2016-01-15 15:00:00  8.587  8.866  8.554  8.751  448202.0

### 获取指定字段(fields)的数据

In [8]:
DataAPI.candle("000001.XSHE", 'D', fields=("close", "volume"), start=datetime(2016, 1, 1), length=10)

                     close    volume
datetime
2016-01-04 15:00:00  9.276  563497.0
2016-01-05 15:00:00  9.358  663269.0
2016-01-06 15:00:00  9.465  515706.0
2016-01-07 15:00:00  8.981  174761.0
2016-01-08 15:00:00  9.128  747527.0
2016-01-11 15:00:00  8.833  732013.0
2016-01-12 15:00:00  8.874  561642.0
2016-01-13 15:00:00  8.792  391709.0
2016-01-14 15:00:00  8.841  666314.0
2016-01-15 15:00:00  8.587  448202.0

### 获取多只股票的数据

In [9]:
DataAPI.candle(("000001.XSHE", "600000.XSHG"), 'D', start=datetime(2016, 1, 1), length=10)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 10 (major_axis) x 5 (minor_axis)
Items axis: 000001.XSHE to 600000.XSHG
Major_axis axis: 2016-01-04 15:00:00 to 2016-01-15 15:00:00
Minor_axis axis: close to volume

## DataAPI.factor()
## 获取因子数据(日线级别)

In [17]:
fields = ('PE', "PB", "ROE")
DataAPI.factor("000001.XSHE", fields, start=datetime(2017, 5, 1), end=datetime(2017, 5, 15, 15))

                         PB      PE     ROE
datetime
2017-05-02 15:00:00  0.8174  6.7542  0.1166
2017-05-03 15:00:00  0.8147  6.7316  0.1166
2017-05-04 15:00:00  0.7992  6.6031  0.1166
2017-05-05 15:00:00  0.7891  6.5200  0.1166
2017-05-08 15:00:00  0.7836  6.4747  0.1166
2017-05-09 15:00:00  0.7900  6.5276  0.1166
2017-05-10 15:00:00  0.7928  6.5502  0.1166
2017-05-11 15:00:00  0.7955  6.5729  0.1166
2017-05-12 15:00:00  0.8138  6.7240  0.1166
2017-05-15 15:00:00  0.8101  6.6938  0.1166

In [19]:
DataAPI.factor(("000001.XSHE", "000002.XSHE"), fields=fields, start=datetime(2017, 5, 1), end=datetime(2017, 5, 15, 15))

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 10 (major_axis) x 3 (minor_axis)
Items axis: 000001.XSHE to 000002.XSHE
Major_axis axis: 2017-05-02 15:00:00 to 2017-05-15 15:00:00
Minor_axis axis: PB to ROE